header, footer{
    background-color:#00c1ff;
}
header p{
    text-align:left;
    color:#ffff;
    font-weight:bold;
    font-size:3.5em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 120px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #00c1ff;
  margin-top:15px;
}

span.bold{
    font-weight:bold;
}

.col-justified{
    text-align:justify;
}